     <footer class="site-footer">
        <p>
          © 2025 Betheme by
          <a href="#">Muffin group</a> | All Rights Reserved | Powered by
          <a href="#">WordPress</a>
        </p>
      </footer>