    <div>
      <div class="main">
        <img
          class="logo"
          src="https://themes.muffingroup.com/be/parallax/wp-content/uploads/2015/01/retina-parallax.png"
        />

        <img
          class="bg"
          src="https://themes.muffingroup.com/be/parallax/wp-content/uploads/2015/01/home-parallax-header.jpg"
        />
      </div>

      <div class="hook">
        <div>
          <h3 class="top">Create your own parallax site with few clicks</h3>
          <span class="bottom"
            >Lorem ipsum dolor sit amet, consectetur. Proin gravida nibh vel
            velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum
            auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
            Duis sed odio sit amet nibh vulputate cursus.</span
          >
        </div>

        <a href="https://google.com" class="link">
          <div class="icon">
            <img src="/basket.png" width="30" height="30" />
          </div>
          <span class="text">Buy now</span>
        </a>
      </div>

      <div class="step-3">
        <div class="main-text">
          <span class="left">WATCH OUR </span>
          <span class="right">VIDEO</span>
        </div>

        <iframe
          class="scale-with-grid"
          width="700"
          height="420"
          src="https://player.vimeo.com/video/123724170?wmode=opaque"
          allowfullscreen=""
        ></iframe>
      </div>

      <div class="step-4">
        <div class="main-text">
          <span class="left">SEE SOME</span>
          <span class="middle">PROJECTS</span>
          <span class="right">FROM OUR WORKSHOP</span>
        </div>

        <div class="images-grid">
          <img class="project" src="/pro1.jpg" />

          <img class="project" src="/pro2.jpg" />

          <img class="project" src="/pro3.jpg" />

          <img class="project" src="/pro4.jpg" />

          <img class="project" src="/pro5.jpg" />

          <img class="project" src="/pro6.jpg" />

          <img class="project" src="/pro7.jpg" />

          <img class="project" src="/pro8.jpg" />
        </div>
      </div>

      <div class="step-5">
        <img src="/step-5-text.png" />

        <div class="main-text">
          <span class="top">Fell the green power of liveo</span>
          <span class="bottom"
            >Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a,
            dapibus at dolor. In iaculis viverra neque, ac eleifend ante
            lobortis id. In viverra ipsum stie id vi viverra...</span
          >

          <a href="#" class="link"> Read more </a>
        </div>
      </div>

      <div class="step-6">
        <img class="circle-image" src="/step-6-img.jpg" />

        <div class="main-text">
          <span class="top">Centerkom - hypnotising electronics</span>
          <span class="bottom"
            >Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a,
            dapibus at dolor. In iaculis viverra neque, bh, molestie id viverra
            a, dapibus at dolor. In iaculis viverra neque, ac eleifend ante
            loborti ac eleifend ante lobortis id. In viverra ipsum stie id
            viverra...</span
          >

          <a href="#" class="link"> Read more </a>
        </div>
      </div>

 
    </div>

