@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.main{
    display: flex;
    height: 100vh;
}

.logo{
    z-index: 1000000;
    margin: 3vh 15vw;
    width: 180px;
    height: 50px;    
}

.bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hook{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4vh 28vw;
    gap: 3rem;
}

.hook .top{
    font-weight: 100;
    font-size: 1.7rem;
}

.hook .bottom{
    line-height: 28px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 1rem;
}

.hook .link{
    display: flex;
    text-decoration: none;
    border-radius: 9px;
    width: max-content;
}

.hook .link .icon{
    padding: 12px;
    background: #d69942;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    mix-blend-mode: screen;
}

.hook .link .text{
    padding: 20px 10px;
    background: #ca9d5f;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    color: white;
    margin: auto 0;
}

.step-3{
  background-image: url("./diamonds-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8vh 0;
  gap: 2rem;
}

.step-3 div span{
    color: white;
    font-size: 2rem;
}

.step-3 .main-text .left{
   font-weight: 100;
}

.step-3 iframe{
    border: none;
}

.step-4{
    display: flex;
    flex-direction: column;
    background-color: black;
}

.step-4 .main-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6vh 6vw;
    font-size: 2rem;
    gap: 1rem;
    color: white;
}

.step-4 .main-text .left{
    font-weight: 100;
}

.step-4 .main-text .right{
    font-weight: 100;
}

.step-4 .images-grid{
    display: flex;
    flex-wrap: wrap;
    transition: all 2s ease;
    background-color: white;
    overflow: hidden;
}

.step-4 .images-grid .project{
    width: 25%;
    height: auto;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
}

.step-4 .images-grid .project:hover{
    transform: translateY(-16px);
}

.step-5{
  background-image: url("./leaves-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30vh 15vw;
  gap: 6rem;
}

.step-5 .main-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    color: white;
}

.step-5 .main-text .top {
    font-size: 1.3rem;
    font-weight: 300;
}

.step-5 .main-text .bottom {
    font-size: 0.85rem;
    font-weight: 300;
    max-width: 400px;
    line-height: 1.6rem;
}

.step-5 .main-text .link {
    color: rgba(255,255,255,.66);
    text-decoration: none;
    font-weight: 300;
    font-size: 0.9rem;
}

.step-5 .main-text .link:hover {
    text-decoration: underline;
}

.step-6{
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 20vh 5vw;
  gap: 8rem;
}

.step-6 .circle-image{
    height: 350px;
}

.step-6 .main-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

.step-6 .main-text .top {
    font-size: 1.3rem;
    font-weight: 300;
}

.step-6 .main-text .bottom {
    font-size: 0.85rem;
    font-weight: 300;
    max-width: 500px;
    line-height: 1.6rem;
}

.step-6 .main-text .link {
    color: #d69942;
    text-decoration: none;
    font-weight: 300;
    font-size: 0.9rem;
}

.step-6 .main-text .link:hover {
    text-decoration: underline;
}

.site-footer {
  background-color: #4a4a4a; 
  color: #ccc;
  text-align: start;
  padding: 15px 50px;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.site-footer a {
  color: #f4a300; 
  text-decoration: none;
}

.site-footer a:hover {
  text-decoration: underline;
}
